name: Deploy Backend to Private EC2

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: AWS SSM Send Command
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --instance-ids "i-0617e4b725d90c05b" \
            --parameters 'commands=[
              "sudo -i -u ubuntu bash -c \"cd /home/ubuntu/app && git pull origin dev\"",
              "sudo -i -u ubuntu bash -c \"cd /home/ubuntu/app/closzIT-back && npm install\"",
              "sudo -i -u ubuntu bash -c \"cd /home/ubuntu/app/closzIT-back && npm run build\"",
              "sudo -i -u ubuntu bash -c \"cd /home/ubuntu/app/closzIT-back && pm2 restart all || pm2 start dist/main.js --name closzIT-backend\""
            ]' \
            --comment "Deploying backend from closzIT-back directory"
